services:
  # Next.js Frontend
  frontend:
    build:
      context: .
      dockerfile: client/Dockerfile
    ports:
      - "3000:3000"
    # depends_on:
    # - game-server
    environment:
      - NODE_ENV=production
    networks:
      - orbital-network

  # Game server backend (Hono)
  game-server:
    build:
      context: .
      dockerfile: game-server/Dockerfile
    ports:
      - "6767:6767"
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    networks:
      - orbital-network

  # Redis sidecar container
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - orbital-network

networks:
  orbital-network:
    driver: bridge
